body {
  font-family: $body-font;
  font-weight: 400;
  font-size: 16px;
}

hr {
  width: 80%;
  margin: 40px auto;
  border-top: 1px solid #F48FB1;
}

.logo {
  width: 300px;
  margin: 40px 0;
}

.jumbotron {
  margin : 0;
  padding: 20px 0;
  background: none;

  &--details {
    padding: 30px 30px 20px 30px;
    border-top: 1px solid #eee;

    font-size: 2em;
    font-weight: 100;
    line-height: 1.2em;
  }
}

.tagline {
  padding: 5px;

  background: #C51162;
  color: white;
}

.content {
  padding: 30px 0;
  background: #FCE4EC;
}

footer {
  padding: 20px 0;
  border-top: 5px solid #90A4AE;

  font-size: 0.9em;
}

.main_cta {
  background-color: #89221e;
  height: 52px;
  font-size: 1em;
  padding: 12px;
}

.heading {
  font-size: 2em;
  font-weight: 100;
  line-height: 1.2em;
  padding-bottom: 0.5em;
  text-align: center;
}
