.speaker {
  padding-bottom: 15px;
  border-bottom: 1px dotted #F48FB1;

  &.no-border,
  &:last-child {
    border: none;
  }

  .subheading {
    font-size: 1.1em;
    text-align: left;
  }

  .avatar {
    @extend .col-sm-11;
    @extend .col-sm-offset-1;

    margin-top: 30px;
    text-align: center;

    .outer-ring {
      margin: 0 25px;
      border: 3px solid #FF80AB;
      border-radius: 100%;
      text-align: center;
    }

    .inner-ring {
      border: 5px solid #C51162;
      border-radius: 100%;
    }

    &--avatar img {
      width: 100%;
      height: 80%;
      border: 1px solid white;
      border-radius: 100%;
    }

    &--name {
      margin-top: 10px;
      font-weight: 600;
      letter-spacing: -1px;
    }

    &--tagline {
      font-size: 0.85em;
    }

    &--links {
      font-size: 1.5em;
    }
  }

  &--topic {
    font-size: 0.85em;
  }

  &--bio {
    font-size: 0.85em;
  }
}
